.header-banner-bg{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
.header-banner-block{
    width: 1000px;
    margin: 0 auto;
    height: 430px;
    background-color: rgba(33, 33, 33, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header-banner-info{
    width: 70%;
    margin: 0 auto;
    font-family: Montserrat;
}
.header-banner-info p:nth-child(1), .header-banner-info p:nth-child(2){
    font-size: 2.4rem;
}
.header-banner-btn{
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 1px solid #C31E22;
    border-radius: 30px;
    margin-top: 20px;
}
.header-banner-info p:nth-child(3){
    width: 80%;
}
.how-work-wrapper{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 100px;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
.how-work-title{
    font-size: 2rem;
    font-family: Montserrat;
    text-transform: uppercase;
    text-align: center;
}
.how-work-info-wrapper{
    width: 70%;
    margin: 0 auto;
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 60px;
    grid-column-gap: 40px;
}
.how-work-info{
    display: flex;
    align-items: center;
    font-family: Montserrat;
    color: white;
}
.how-work-number{
    color: #C31E22;
    font-size: 1.8rem;
}
.how-work-text{
    font-size: 1rem;
    margin-left: 20px;
}
.our-tasks-wrapper{
    width: 100%;
    background-color: white;
    padding-top: 200px;
    padding-bottom: 200px;
    position: relative;
    display: flex;
    justify-content: flex-end;
}
.our-task-info-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    height: 370px;
    /* padding-top: 100px; */
    /* padding-bottom: 100px; */
    background-color: rgba(49, 55, 70, 1);
    justify-content: space-between;
}
.our-task-info{
    position: relative;
    width: 55%;
}
.our-task-title{
    position: absolute;
    top: -170px;
    left: -40px;
    font-family: Montserrat;
    font-size: 1.6rem;
    font-weight: 500;
}
.why-we-wrapper{
    width: 100%;
    font-family: Montserrat;
    color: white;
    font-size: 1rem;
}

.why-we-img{
    width: 40%;
    display: flex;
    justify-content: center;
}
.why-we-img img{
    width: 90%;
    max-height: 700px;
    max-width: 500px;
    margin: 0 auto;
}
.why-we-title{
    font-size: 1.3rem;
}
.why-we-advantages{
    display: grid;
    margin-top: 50px;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 40px;
}
.why-we-advantage{
    display: flex;
}
.why-we-point{
    margin-top: 5px;
    width: 8px;
    height: 8px;
    background-color: #C31E22;
}
.why-we-text{
    margin-left: 10px;
    word-wrap: break-word;
}
.advantages-wrapper{
    width: 100%;
}

.advantages{
    max-width: 1200px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.advantages_title{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 43px;
    text-align: center;
    text-transform: uppercase;
    color: #2B2B2B;
    margin-bottom: 60px;
    margin-top: 90px;
    width: 70%;
    padding: 0px 10px;
}

.advantages-text-span{
    color: #C31E22;
}

.advantages_text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    text-transform: uppercase;
    color: #2B2B2B;
    margin-bottom: 46px;
    text-align: center;
    padding: 0px 10px;
}

.advantages-cases{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.advantages-case_case{
    width: 350px;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 0px 13px 0px rgb(0 0 0 / 30%);
    -moz-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.30);
    box-shadow: 0px 0px 13px 0px rgb(0 0 0 / 30%);
    padding: 52px 0px;
    margin-bottom: 50px;
}

.advantages-case_case__img{
    height: 73px;
}

.line{
    width: 120px;
    height: 1px;
    background-color: #404040;
    margin-bottom: 17px;
}

.advantages-case_case__static{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.advantages-case_case__hover{
    display: none;
    flex-direction: column;
    padding: 20px;
}

.advantages-case_case__hover .advantages-case_case__img img{
    width: 34px;
    height: 34px;
}

.advantages-case_case:hover{
    padding: 0px;
    width: 350px;
}

.advantages-case_case__hover .advantages-case_case__img{
    height: 44px;
}

.advantages-case_case:hover .advantages-case_case__static{
    display: none;
}

.advantages-case_case:hover .advantages-case_case__hover{
    display: flex;
}

.feedback-wrapper{
    width: 100%;
    background-image: url("../images/front-page/feedback-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 62px 0px;
    /*margin-top: 83px;*/
}

.feedback{
    max-width: 1200px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feedback-span{
    color: #C31E22;
}

.feedback-title{
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 43px;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 80%;
}

.feedback form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
}

.feedback-form_top{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.feedback-form_top input{
    width: 440px;
    height: 50px;
    color: #2B2B2B;
    margin-top: 17px;
}

.feedback-form_select{
    width: 448px;
    height: 56px;
    color: #2B2B2B;
    background-color: white;
    margin-top: 17px;
}

.feedback-form_top input:nth-child(odd){
    margin-right: 17px;
}

.feedback-form_down{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.feedback-form_down__title{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #D0D0D0;
    margin-top: 20px;
}

.feedback-form_down textarea{
    width: 900px;
    height: 111px;
}
@media (max-width: 1300px) {
    .our-tasks-wrapper{
        width: 100%;
        background-color: white;
        padding-top: 150px;
        padding-bottom: 150px;
        position: relative;
        display: flex;
        justify-content: flex-end;
    }
    .our-task-title {
        position: absolute;
        top: -150px;
        left: -20px;
        font-family: Montserrat;
        font-size: 1.6rem;
        font-weight: 500;
    }
    .why-we-img img {
        width: 90%;
        height: 560px;
        max-height: 700px;
        max-width: 500px;
    }
}
@media (max-width: 1200px) {
    .header-banner-block{
        width: 85%;
    }
    .header-banner-info{
        width: 85%;
    }
    .header-banner-info p:nth-child(1),.header-banner-info p:nth-child(2){
        font-size: 2rem;
    }
    .how-work-info-wrapper{
        width: 80%;
    }
}

@media (max-width: 900px) {
    .our-task-title {
        top: -145px;
        left: -20px;
        font-size: 1.4rem;
    }
    .why-we-img img {
        width: 95%;
        height: 450px;
        max-height: 700px;
        max-width: 500px;
    }
    .why-we-advantages {
        display: grid;
        margin-top: 40px;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 5px;
        grid-row-gap: 30px;
    }
    .feedback-form_top input {
        width: 300px;
    }

    .feedback-form_select {
        width: 308px;
    }

    .feedback-form_down textarea {
        width: 620px;
    }

}

@media (max-width: 640px) {
    .how-work-info-wrapper{
        width: 90%;
    }

    .feedback-form_top input {
        width: 180px;
    }

    .feedback-form_select {
        width: 180px;
    }

    .feedback-form_down textarea {
        width: 385px;
    }

    .feedback-form_down__title {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .feedback-form_down {
        display: flex;
        flex-direction: column;
        padding: 0px 20px;
        justify-content: center;
        align-items: center;
    }

    .feedback-title {
        font-size: 25px;
    }
    .header-banner-block{
        width: 100%;
    }
    .header-banner-info{
        width: 85%;
    }
    .header-banner-info p:nth-child(1), .header-banner-info p:nth-child(2){
        font-size: 1.7rem;
    }
    .header-banner-info p:nth-child(3){
        width: 80%;
    }

}
@media (max-width: 550px) {
    .how-work-info-wrapper{
        width: 90%;
        margin: 0 auto;
        margin-top: 70px;
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 60px;
        grid-column-gap: 40px;
    }
}

@media (max-width: 475px) {

    .advantages-case_case{
        width: 300px;
        height: 280px;
    }

    .advantages-case_case:hover{
        padding: 0px;
        width: 300px;
        height: 280px;
    }

    .feedback-form_top {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .feedback-form_down textarea {
        width: 260px;
    }

    .feedback-form_top input {
        width: 260px;
    }

    .feedback-form_select {
        width: 268px;
    }
    .header-banner-info p:nth-child(1), .header-banner-info p:nth-child(2){
        font-size: 1.5rem;
    }

}

